# Simple Download Stock Data Site

There are many sites you can download or fetch stock historical data or fundamental data such as yahoo, google, alpha vantage, quandl and other sites. Some are free and some you have to paid. Some you will need to sign up and some you do not need to sign up.

## 1. fix yahoo is the most common
https://pypi.org/project/fix-yahoo-finance/

In [1]:
# Libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
! conda activate ml

usage: conda [-h] [--no-plugins] [-V] COMMAND ...
conda: error: argument COMMAND: invalid choice: 'activate' (choose from 'clean', 'compare', 'config', 'create', 'info', 'init', 'install', 'list', 'notices', 'package', 'remove', 'uninstall', 'rename', 'run', 'search', 'update', 'upgrade', 'build', 'convert', 'debug', 'develop', 'doctor', 'index', 'inspect', 'metapackage', 'render', 'skeleton', 'content-trust', 'pack', 'server', 'token', 'env', 'repo', 'verify')

In [3]:
# fix_yahoo_finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [4]:
# input
symbol = 'AAPL'
start = '2014-01-01'
end = '2018-01-01'

In [5]:
# Read data 
df = yf.download(symbol,start,end)

# Only keep close columns 
df.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-01-02  19.845715  19.893929  19.715000  19.754642  17.341541  234684800
2014-01-03  19.745001  19.775000  19.301071  19.320715  16.960621  392467600
2014-01-06  19.194643  19.528570  19.057142  19.426071  17.053116  412610800
2014-01-07  19.440001  19.498571  19.211430  19.287144  16.931158  317209200
2014-01-08  19.243214  19.484285  19.238930  19.409286  17.038378  258529600

## 2. pandas_datareader
This library work sometimes. I recommend not to use to this one.

https://pandas-datareader.readthedocs.io/en/latest/

In [6]:
import pandas_datareader  as pdr

In [12]:
import yfinance as yf
symbol = 'AAPL'
start = '2014-01-01'
end = '2018-01-01'
data = yf.download(symbol, start=start, end=end)
print(data.head())

[*********************100%%**********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close     Volume
Date
2014-01-02  19.845715  19.893929  19.715000  19.754642  17.341539  234684800
2014-01-03  19.745001  19.775000  19.301071  19.320715  16.960629  392467600
2014-01-06  19.194643  19.528570  19.057142  19.426071  17.053110  412610800
2014-01-07  19.440001  19.498571  19.211430  19.287144  16.931158  317209200
2014-01-08  19.243214  19.484285  19.238930  19.409286  17.038378  258529600

In [13]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-01-02  19.845715  19.893929  19.715000  19.754642  17.341539  234684800
2014-01-03  19.745001  19.775000  19.301071  19.320715  16.960629  392467600
2014-01-06  19.194643  19.528570  19.057142  19.426071  17.053110  412610800
2014-01-07  19.440001  19.498571  19.211430  19.287144  16.931158  317209200
2014-01-08  19.243214  19.484285  19.238930  19.409286  17.038378  258529600

## 3. alpha_vantage
https://alpha-vantage.readthedocs.io/en/latest/

For this one, you will need to sign up and is free. You will get a free api key.

https://www.alphavantage.co/support/#api-key

In [15]:
from alpha_vantage.timeseries import TimeSeries

In [18]:
ts = TimeSeries(key='S8VOMQK22UJHYHTE') # Input your API KEY in ...
# Get json object with the intraday data and another with  the call's metadata
data, meta_data = ts.get_intraday('AAPL')
print(data)

{'2023-08-24 19:45:00': {'1. open': '176.3800', '2. high': '176.4600', '3. low': '176.3200', '4. close': '176.3800', '5. volume': '11357'}, '2023-08-24 19:30:00': {'1. open': '176.3500', '2. high': '176.5000', '3. low': '176.2700', '4. close': '176.3300', '5. volume': '5664'}, '2023-08-24 19:15:00': {'1. open': '176.2750', '2. high': '176.3900', '3. low': '176.2100', '4. close': '176.2600', '5. volume': '3135'}, '2023-08-24 19:00:00': {'1. open': '176.6500', '2. high': '176.6500', '3. low': '176.2100', '4. close': '176.2750', '5. volume': '10368'}, '2023-08-24 18:45:00': {'1. open': '176.5700', '2. high': '176.6500', '3. low': '176.5100', '4. close': '176.6500', '5. volume': '8361'}, '2023-08-24 18:30:00': {'1. open': '176.3200', '2. high': '176.6500', '3. low': '176.2900', '4. close': '176.5700', '5. volume': '14214'}, '2023-08-24 18:15:00': {'1. open': '176.3700', '2. high': '176.3700', '3. low': '176.2500', '4. close': '176.3200', '5. volume': '16042'}, '2023-08-24 18:00:00': {'1. open': '176.0650', '2. high': '176.4700', '3. low': '176.0500', '4. close': '176.3400', '5. volume': '15871'}, '2023-08-24 17:45:00': {'1. open': '176.0400', '2. high': '176.0900', '3. low': '176.0300', '4. close': '176.0800', '5. volume': '4031'}, '2023-08-24 17:30:00': {'1. open': '175.9600', '2. high': '176.0600', '3. low': '175.9100', '4. close': '176.0600', '5. volume': '20568'}, '2023-08-24 17:15:00': {'1. open': '175.9000', '2. high': '175.9800', '3. low': '175.8700', '4. close': '175.9700', '5. volume': '13126'}, '2023-08-24 17:00:00': {'1. open': '176.1100', '2. high': '176.3800', '3. low': '169.5730', '4. close': '175.9100', '5. volume': '1423570'}, '2023-08-24 16:45:00': {'1. open': '176.0000', '2. high': '177.1890', '3. low': '175.9800', '4. close': '176.1000', '5. volume': '138549'}, '2023-08-24 16:30:00': {'1. open': '176.0300', '2. high': '176.1700', '3. low': '175.9100', '4. close': '176.0000', '5. volume': '36180'}, '2023-08-24 16:15:00': {'1. open': '176.3700', '2. high': '177.2150', '3. low': '176.0100', '4. close': '176.0400', '5. volume': '40207'}, '2023-08-24 16:00:00': {'1. open': '176.3300', '2. high': '176.4640', '3. low': '175.9900', '4. close': '176.3800', '5. volume': '21030966'}, '2023-08-24 15:45:00': {'1. open': '176.3600', '2. high': '176.6700', '3. low': '176.0100', '4. close': '176.3300', '5. volume': '5227177'}, '2023-08-24 15:30:00': {'1. open': '176.8200', '2. high': '176.8900', '3. low': '176.2400', '4. close': '176.3550', '5. volume': '2030018'}, '2023-08-24 15:15:00': {'1. open': '177.1000', '2. high': '177.3200', '3. low': '176.8000', '4. close': '176.8200', '5. volume': '1382112'}, '2023-08-24 15:00:00': {'1. open': '177.3600', '2. high': '177.4700', '3. low': '176.9500', '4. close': '177.1000', '5. volume': '1273998'}, '2023-08-24 14:45:00': {'1. open': '177.2000', '2. high': '177.3750', '3. low': '177.0000', '4. close': '177.3540', '5. volume': '1488229'}, '2023-08-24 14:30:00': {'1. open': '177.5200', '2. high': '177.6400', '3. low': '177.1700', '4. close': '177.1900', '5. volume': '1042689'}, '2023-08-24 14:15:00': {'1. open': '177.8760', '2. high': '177.8800', '3. low': '177.4650', '4. close': '177.5240', '5. volume': '915092'}, '2023-08-24 14:00:00': {'1. open': '177.5600', '2. high': '177.8800', '3. low': '177.4750', '4. close': '177.8780', '5. volume': '927509'}, '2023-08-24 13:45:00': {'1. open': '177.7300', '2. high': '177.8600', '3. low': '177.4300', '4. close': '177.5510', '5. volume': '817127'}, '2023-08-24 13:30:00': {'1. open': '177.7300', '2. high': '177.9300', '3. low': '177.6900', '4. close': '177.7250', '5. volume': '664379'}, '2023-08-24 13:15:00': {'1. open': '178.0200', '2. high': '178.0300', '3. low': '177.6810', '4. close': '177.7400', '5. volume': '625360'}, '2023-08-24 13:00:00': {'1. open': '177.9600', '2. high': '178.1400', '3. low': '177.8100', '4. close': '178.0280', '5. volume': '653964'}, '2023-08-24 12:45:00': {'1. open': '178.2100', '2. high': '178.3100', '3. low': '177.9500', '4. close': '177.9550', '5. volume': '1020982'}, '2023-08-24 12:30:00': {'1. open': '178.0500', '2. high': '178.2900', '3. low': '178.0000', '4. close': '178.2050', '5. volume': '687378'}, '2023-08-24 12:15:00': {'1. open': '178.0950', '2. high': '178.3000', '3. low': '178.0000', '4. close': '178.0600', '5. volume': '777135'}, '2023-08-24 12:00:00': {'1. open': '177.6100', '2. high': '178.1300', '3. low': '177.5000', '4. close': '178.0980', '5. volume': '1042915'}, '2023-08-24 11:45:00': {'1. open': '177.8400', '2. high': '178.0700', '3. low': '177.5200', '4. close': '177.6100', '5. volume': '1240711'}, '2023-08-24 11:30:00': {'1. open': '178.1200', '2. high': '178.1300', '3. low': '177.6600', '4. close': '177.8500', '5. volume': '1384348'}, '2023-08-24 11:15:00': {'1. open': '178.1100', '2. high': '178.4100', '3. low': '177.8400', '4. close': '178.1250', '5. volume': '1218274'}, '2023-08-24 11:00:00': {'1. open': '177.9100', '2. high': '178.1400', '3. low': '177.6500', '4. close': '178.1050', '5. volume': '1624413'}, '2023-08-24 10:45:00': {'1. open': '177.7910', '2. high': '178.3200', '3. low': '177.6800', '4. close': '177.8950', '5. volume': '1646695'}, '2023-08-24 10:30:00': {'1. open': '178.4100', '2. high': '178.4560', '3. low': '177.6800', '4. close': '177.7900', '5. volume': '2710612'}, '2023-08-24 10:15:00': {'1. open': '179.2000', '2. high': '179.2600', '3. low': '178.3900', '4. close': '178.4020', '5. volume': '2260843'}, '2023-08-24 10:00:00': {'1. open': '180.0200', '2. high': '180.1300', '3. low': '179.0990', '4. close': '179.2050', '5. volume': '1981292'}, '2023-08-24 09:45:00': {'1. open': '180.2200', '2. high': '180.2300', '3. low': '179.7600', '4. close': '180.0200', '5. volume': '1907698'}, '2023-08-24 09:30:00': {'1. open': '180.6740', '2. high': '181.1040', '3. low': '179.6100', '4. close': '180.2100', '5. volume': '3974329'}, '2023-08-24 09:15:00': {'1. open': '180.7900', '2. high': '181.0300', '3. low': '180.2800', '4. close': '180.7000', '5. volume': '152846'}, '2023-08-24 09:00:00': {'1. open': '180.7600', '2. high': '181.2250', '3. low': '174.7300', '4. close': '180.8100', '5. volume': '310546'}, '2023-08-24 08:45:00': {'1. open': '180.7300', '2. high': '180.9900', '3. low': '180.6000', '4. close': '180.7850', '5. volume': '51949'}, '2023-08-24 08:30:00': {'1. open': '181.1500', '2. high': '181.2700', '3. low': '177.7900', '4. close': '180.7200', '5. volume': '127504'}, '2023-08-24 08:15:00': {'1. open': '181.1600', '2. high': '181.2700', '3. low': '180.9500', '4. close': '181.2000', '5. volume': '69942'}, '2023-08-24 08:00:00': {'1. open': '181.7300', '2. high': '183.3400', '3. low': '180.8200', '4. close': '181.1500', '5. volume': '222265'}, '2023-08-24 07:45:00': {'1. open': '181.8500', '2. high': '181.8800', '3. low': '181.4700', '4. close': '181.4700', '5. volume': '29906'}, '2023-08-24 07:30:00': {'1. open': '181.7800', '2. high': '181.9900', '3. low': '181.7600', '4. close': '181.8600', '5. volume': '9968'}, '2023-08-24 07:15:00': {'1. open': '181.7600', '2. high': '182.0000', '3. low': '181.7600', '4. close': '181.7900', '5. volume': '34648'}, '2023-08-24 07:00:00': {'1. open': '181.7600', '2. high': '181.8000', '3. low': '181.5000', '4. close': '181.7600', '5. volume': '32306'}, '2023-08-24 06:45:00': {'1. open': '181.8500', '2. high': '181.8700', '3. low': '181.6900', '4. close': '181.7300', '5. volume': '7082'}, '2023-08-24 06:30:00': {'1. open': '181.8500', '2. high': '181.8900', '3. low': '181.7900', '4. close': '181.8700', '5. volume': '12262'}, '2023-08-24 06:15:00': {'1. open': '181.7900', '2. high': '181.8900', '3. low': '181.7500', '4. close': '181.8600', '5. volume': '15953'}, '2023-08-24 06:00:00': {'1. open': '181.8500', '2. high': '181.9000', '3. low': '181.7800', '4. close': '181.7900', '5. volume': '21548'}, '2023-08-24 05:45:00': {'1. open': '181.8600', '2. high': '181.9000', '3. low': '181.7500', '4. close': '181.8500', '5. volume': '2958'}, '2023-08-24 05:30:00': {'1. open': '181.8000', '2. high': '181.8800', '3. low': '181.5500', '4. close': '181.8800', '5. volume': '18574'}, '2023-08-24 05:15:00': {'1. open': '181.8300', '2. high': '181.8300', '3. low': '181.3900', '4. close': '181.7800', '5. volume': '31296'}, '2023-08-24 05:00:00': {'1. open': '181.9500', '2. high': '181.9600', '3. low': '181.7100', '4. close': '181.8400', '5. volume': '11247'}, '2023-08-24 04:45:00': {'1. open': '181.9200', '2. high': '181.9900', '3. low': '181.7800', '4. close': '181.9800', '5. volume': '14078'}, '2023-08-24 04:30:00': {'1. open': '182.4300', '2. high': '182.4400', '3. low': '181.9000', '4. close': '181.9200', '5. volume': '18788'}, '2023-08-24 04:15:00': {'1. open': '182.3000', '2. high': '182.5600', '3. low': '182.3000', '4. close': '182.3900', '5. volume': '15981'}, '2023-08-24 04:00:00': {'1. open': '182.4000', '2. high': '182.7800', '3. low': '181.9400', '4. close': '182.3000', '5. volume': '41899'}, '2023-08-23 19:45:00': {'1. open': '181.3500', '2. high': '181.5600', '3. low': '181.1300', '4. close': '181.3850', '5. volume': '24998'}, '2023-08-23 19:30:00': {'1. open': '181.7000', '2. high': '181.9500', '3. low': '181.2800', '4. close': '181.3500', '5. volume': '34453'}, '2023-08-23 19:15:00': {'1. open': '181.2600', '2. high': '181.9000', '3. low': '181.1200', '4. close': '181.7000', '5. volume': '67665'}, '2023-08-23 19:00:00': {'1. open': '180.8900', '2. high': '181.2500', '3. low': '180.8000', '4. close': '181.2500', '5. volume': '29625'}, '2023-08-23 18:45:00': {'1. open': '180.8400', '2. high': '180.8900', '3. low': '180.8100', '4. close': '180.8900', '5. volume': '11493'}, '2023-08-23 18:30:00': {'1. open': '180.7900', '2. high': '180.8900', '3. low': '180.6900', '4. close': '180.8550', '5. volume': '17380'}, '2023-08-23 18:15:00': {'1. open': '180.8800', '2. high': '180.9200', '3. low': '180.7000', '4. close': '180.7650', '5. volume': '12306'}, '2023-08-23 18:00:00': {'1. open': '180.8500', '2. high': '181.0000', '3. low': '180.8000', '4. close': '180.9100', '5. volume': '22673'}, '2023-08-23 17:45:00': {'1. open': '180.8400', '2. high': '181.0000', '3. low': '180.7100', '4. close': '180.8950', '5. volume': '20698'}, '2023-08-23 17:30:00': {'1. open': '180.9900', '2. high': '181.1200', '3. low': '180.6900', '4. close': '180.8400', '5. volume': '71271'}, '2023-08-23 17:15:00': {'1. open': '180.9400', '2. high': '181.0800', '3. low': '180.8200', '4. close': '181.0000', '5. volume': '61559'}, '2023-08-23 17:00:00': {'1. open': '180.9300', '2. high': '181.3000', '3. low': '180.3740', '4. close': '180.9300', '5. volume': '190451'}, '2023-08-23 16:45:00': {'1. open': '180.7700', '2. high': '181.2000', '3. low': '180.5900', '4. close': '180.8600', '5. volume': '532976'}, '2023-08-23 16:30:00': {'1. open': '180.6900', '2. high': '181.1100', '3. low': '180.5200', '4. close': '180.8900', '5. volume': '157795'}, '2023-08-23 16:15:00': {'1. open': '180.9300', '2. high': '181.2300', '3. low': '180.5900', '4. close': '180.7200', '5. volume': '253893'}, '2023-08-23 16:00:00': {'1. open': '181.1400', '2. high': '181.3300', '3. low': '177.2150', '4. close': '180.9300', '5. volume': '13548404'}, '2023-08-23 15:45:00': {'1. open': '181.4400', '2. high': '181.4700', '3. low': '181.0000', '4. close': '181.1400', '5. volume': '4194704'}, '2023-08-23 15:30:00': {'1. open': '181.5350', '2. high': '181.5400', '3. low': '181.3710', '4. close': '181.4500', '5. volume': '1443275'}, '2023-08-23 15:15:00': {'1. open': '181.2400', '2. high': '181.5400', '3. low': '181.2250', '4. close': '181.5350', '5. volume': '1229856'}, '2023-08-23 15:00:00': {'1. open': '180.9500', '2. high': '181.3100', '3. low': '180.8100', '4. close': '181.2400', '5. volume': '1124107'}, '2023-08-23 14:45:00': {'1. open': '180.8550', '2. high': '181.0900', '3. low': '180.8100', '4. close': '180.9450', '5. volume': '827574'}, '2023-08-23 14:30:00': {'1. open': '181.0690', '2. high': '181.1200', '3. low': '180.8000', '4. close': '180.8600', '5. volume': '852551'}, '2023-08-23 14:15:00': {'1. open': '181.1900', '2. high': '181.2000', '3. low': '180.8910', '4. close': '181.0600', '5. volume': '1138554'}, '2023-08-23 14:00:00': {'1. open': '181.3990', '2. high': '181.4000', '3. low': '181.1200', '4. close': '181.1820', '5. volume': '890136'}, '2023-08-23 13:45:00': {'1. open': '181.3050', '2. high': '181.5500', '3. low': '181.2800', '4. close': '181.3990', '5. volume': '1009404'}, '2023-08-23 13:30:00': {'1. open': '181.2320', '2. high': '181.3950', '3. low': '181.1400', '4. close': '181.3000', '5. volume': '1258984'}, '2023-08-23 13:15:00': {'1. open': '180.8600', '2. high': '181.2900', '3. low': '180.8500', '4. close': '181.2400', '5. volume': '1514937'}, '2023-08-23 13:00:00': {'1. open': '180.6800', '2. high': '180.8800', '3. low': '180.6300', '4. close': '180.8550', '5. volume': '574267'}, '2023-08-23 12:45:00': {'1. open': '180.7850', '2. high': '180.9200', '3. low': '180.6700', '4. close': '180.6800', '5. volume': '754725'}, '2023-08-23 12:30:00': {'1. open': '180.7300', '2. high': '180.8100', '3. low': '180.6500', '4. close': '180.7780', '5. volume': '746879'}, '2023-08-23 12:15:00': {'1. open': '180.9050', '2. high': '180.9700', '3. low': '180.6300', '4. close': '180.7300', '5. volume': '1142744'}, '2023-08-23 12:00:00': {'1. open': '181.1300', '2. high': '181.1800', '3. low': '180.7800', '4. close': '180.9100', '5. volume': '879529'}, '2023-08-23 11:45:00': {'1. open': '180.8350', '2. high': '181.3100', '3. low': '180.7900', '4. close': '181.1300', '5. volume': '1665975'}, '2023-08-23 11:30:00': {'1. open': '181.1500', '2. high': '181.2400', '3. low': '180.8000', '4. close': '180.8450', '5. volume': '1384021'}, '2023-08-23 11:15:00': {'1. open': '181.1000', '2. high': '181.3310', '3. low': '180.9400', '4. close': '181.1500', '5. volume': '1495813'}, '2023-08-23 11:00:00': {'1. open': '181.2110', '2. high': '181.2850', '3. low': '180.8700', '4. close': '181.1100', '5. volume': '1661099'}}

## 4. iexfinance

In [20]:
from iexfinance.stocks import Stock

In [22]:

symbol = 'TSLA'
api_token = 'sk_b6762c61dab8444ebfbacbaf096a66d1'

tsla = Stock(symbol, token=api_token)
open_price = tsla.get_open()
current_price = tsla.get_price()

print("Open Price:", open_price)
print("Current Price:", current_price)

Open Price: 238.65
Current Price:          TSLA
price  230.04

In [24]:
import yfinance as yf
from datetime import datetime

start = datetime(2014, 1, 1)
end = datetime(2018, 1, 1)

df = yf.download("AAPL", start=start, end=end)
df.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-01-02  19.845715  19.893929  19.715000  19.754642  17.341539  234684800
2014-01-03  19.745001  19.775000  19.301071  19.320715  16.960629  392467600
2014-01-06  19.194643  19.528570  19.057142  19.426071  17.053102  412610800
2014-01-07  19.440001  19.498571  19.211430  19.287144  16.931154  317209200
2014-01-08  19.243214  19.484285  19.238930  19.409286  17.038382  258529600

## 5. quandl 

For this one you need to sign up and is very limited.

In [25]:
# import needed libraries
import quandl

In [26]:
token = "..." # Input your token ...
data = quandl.get("WIKI/AAPL", start_date="2014-01-01", end_date="2018-01-01", api_key=token)

AuthenticationError: (Status 400) (Quandl Error QEAx01) We could not recognize your API key: .... Please check your API key and try again. You can find your API key under your account settings.

## 5. Yahoo, Google, or other sites (download csv)
This one has historical data and economic data.

For example: https://finance.yahoo.com/quote/AAPL/history?p=AAPL

You should see: Download Data and click that icon.

In [ ]:
aapl.to_csv('aapl.csv') # Make sure you have the right directory path
df = pd.read_csv('aapl.csv', header=0, index_col='Date', parse_dates=True)

## 6. yahoo-finance

https://github.com/lukaszbanasiak/yahoo-finance

In [ ]:
from yahoo_finance import Share

In [ ]:
data = Share('AAPL')
print(data.get_open())
print(data.get_price())

In [ ]:
# Get Historical Data
# This one does not show nice dataframe
print(data.get_historical('2014-01-01', '2018-01-01'))

## 7. Macrotrends

Scrape Data

https://www.macrotrends.net/

In [ ]:
symbol = 'AAPL'
url = 'https://www.macrotrends.net/assets/php/stock_data_export.php?t=' + symbol
stock_price = pd.read_csv(url, skiprows=10)

In [ ]:
stock_price.head()

         date    open    high     low   close     volume
0  1980-12-12  0.4164  0.4182  0.4164  0.4164  117258400
1  1980-12-15  0.3966  0.3966  0.3947  0.3947   43971200
2  1980-12-16  0.3675  0.3675  0.3657  0.3657   26432000
3  1980-12-17  0.3747  0.3766  0.3747  0.3747   21610400
4  1980-12-18  0.3857  0.3874  0.3857  0.3857   18362400

## 8. eoddata-client

This one is not free. You will need to paid for the service.

https://github.com/apologist/eoddata-client

http://eoddata.com/

In [ ]:
import os

from eoddata_client import EodDataHttpClient

client = EodDataHttpClient(os.environ['EOD_DATA_LOGIN'],
                           os.environ['EOD_DATA_PASSWORD'])

quotes = client.symbol_history('nasdaq', 'aapl', datetime.date(2014, 1, 1))
quotes['Diff'] = quotes['Close'].shift(1) - quotes['Close']
print(quotes.tail())

## 9. yahoo-historical

https://pypi.org/project/yahoo-historical/

In [ ]:
from yahoo_historical import Fetcher
data = Fetcher("AAPL", [2014,1,1], [2018,1,1])
print(data.getHistorical())

## 10. yahoofinancials

This one is to get fundamental data.

https://github.com/JECSand/yahoofinancials

In [ ]:
from yahoofinancials import YahooFinancials

ticker = 'AAPL'
yahoo_financials = YahooFinancials(ticker)

## 11. pandas-finance

https://github.com/davidastephens/pandas-finance

In [ ]:
from pandas_finance import Equity
aapl = Equity('AAPL')
aapl.annual_dividend
aapl.dividend_yield
aapl.price
aapl.options
aapl.hist_vol(30)
aapl.rolling_hist_vol(30)

## 12. FinanceDataReader

https://github.com/FinanceData/FinanceDataReader

In [ ]:
import FinanceDataReader as fdr

# Apple(AAPL), 2017-01-01 ~ Now
df = fdr.DataReader('AAPL', '2017')

# AMAZON(AMZN), 2017
df = fdr.DataReader('AMZN', '2017-01-01', '2017-12-31')

# If there are more places you can download historical data, I will add more. Let me know. Email me please.