# Simple Kelly Criterion

http://www.elem.com/~btilly/kelly-criterion/

https://www.investopedia.com/articles/trading/04/091504.asp

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import fix_yahoo_finance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'BAC'
start = '2018-01-01'
end = '2019-01-01'

# Read data 
df = yf.download(symbol,start,end)

# View Columns
df.head()

[*********************100%***********************]  1 of 1 downloaded

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-01-02  29.750000  29.900000  29.610001  29.900000  29.211069  57121600
2018-01-03  29.900000  29.940001  29.690001  29.799999  29.113373  57865700
2018-01-04  29.969999  30.440001  29.879999  30.190001  29.494387  76512500
2018-01-05  30.370001  30.420000  30.049999  30.330000  29.631161  56445200
2018-01-08  30.230000  30.270000  30.049999  30.120001  29.426003  42914800

In [3]:
df['Returns'] = df['Adj Close'].pct_change()

In [4]:
df = df.dropna()
df.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2018-01-03,29.900000,29.940001,29.690001,29.799999,29.113373,57865700,-0.003344
2018-01-04,29.969999,30.440001,29.879999,30.190001,29.494387,76512500,0.013087
2018-01-05,30.370001,30.420000,30.049999,30.330000,29.631161,56445200,0.004637
2018-01-08,30.230000,30.270000,30.049999,30.120001,29.426003,42914800,-0.006924
2018-01-09,30.200001,30.540001,30.129999,30.270000,29.572544,69479100,0.004980

In [5]:
returns = np.array(df['Returns'])
wins = returns[returns > 0]
losses = returns[returns <= 0]
# W = Winning probability
# R = Win/loss ratio
W = len(wins) / len(returns)
R = np.mean(wins) / np.abs(np.mean(losses))
Kelly = W - ( (1 - W) / R )

In [6]:
# Kelly value negative means the expected returns will be negative
# Kelly value positive means the expected returns will be positive
print('Kelly Criterion: {}%'.format(np.round(Kelly, 3)))

Kelly Criterion: -0.056%